/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.button:not(.radio) {
  background: linear-gradient(#fcfcfc, #ededed);
  border: 1px solid #babdba;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px;
}

.gtk.button:not(.radio):active, .gtk.button:not(.radio):focus {
  background: #c7d1db;
  border-color: #79a6d1;
}

.gtk.button:not(.radio):focus {
  outline: none;
}

.gtk.button:not(.radio):hover:not(:focus) {
  background: #ffffff;
  border-color: #969a96;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.entry {
  background: linear-gradient(#ededed, #ffffff);
  border: 1px solid #969a96;
  border-radius: 3px;
  padding: 0.5em;
}

.gtk.entry:focus {
  border-color: #79a6d1;
  outline: none;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.header.bar {
  background: linear-gradient(#fcfcfc, #ededed);
  border-bottom: 1px solid #969a96;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 0 1em;
  text-align: center;
}

.gtk.header.bar .title {
  color: #2e3436;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-weight: bold;
  justify-content: center;
  user-select: none;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.radio.button {
  display: flex;
}

.gtk.radio.button input[type='radio'] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.gtk.radio.button input[type='radio']:checked ~ .checkmark {
  background: linear-gradient(#b4cce5, #83a8d1);
  border: 1px solid #3a6aa6;
}

.gtk.radio.button label {
  user-select: none;
}

.gtk.radio.button .checkmark {
  background: linear-gradient(#fcfcfc, #ededed);
  border: 1px solid #969a96;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin-right: 1em;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.window {
  background-color: #ededed;
  border: 1px solid black;
  box-shadow: 3px 3px 15px #969a96;
}

.gtk.window.has-header {
  border-color: #969a96;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/*# sourceMappingURL=gtk.css.map */