/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.button:not(.radio) {
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ededed));
  background: linear-gradient(#fcfcfc, #ededed);
  border: 1px solid #babdba;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px;
}

.gtk.button:not(.radio).primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#abd0f6), color-stop(#79a6d1), to(#abd0f6));
  background: linear-gradient(#abd0f6, #79a6d1, #abd0f6);
  border: 1px solid #52606e;
}

.gtk.button:not(.radio):active, .gtk.button:not(.radio):focus {
  background: #abd0f6;
  border-color: #79a6d1;
}

.gtk.button:not(.radio):focus {
  outline: none;
}

.gtk.button:not(.radio):hover:not(:focus):not(.primary) {
  background: #ffffff;
  border-color: #969a96;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.entry {
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ffffff));
  background: linear-gradient(#ededed, #ffffff);
  border: 1px solid #969a96;
  border-radius: 3px;
  padding: 0.5em;
}

.gtk.entry:focus {
  border-color: #79a6d1;
  outline: none;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.header.bar {
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ededed));
  background: linear-gradient(#fcfcfc, #ededed);
  border-bottom: 1px solid #969a96;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  padding: 0 1em;
  text-align: center;
}

.gtk.header.bar .title {
  color: #2e3436;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.radio.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gtk.radio.button input[type='radio'] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.gtk.radio.button input[type='radio']:checked ~ .checkmark {
  background: -webkit-gradient(linear, left top, left bottom, from(#b4cce5), to(#83a8d1));
  background: linear-gradient(#b4cce5, #83a8d1);
  border: 1px solid #3a6aa6;
}

.gtk.radio.button label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gtk.radio.button .checkmark {
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ededed));
  background: linear-gradient(#fcfcfc, #ededed);
  border: 1px solid #969a96;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin-right: 1em;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.stack.sidebar {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gtk.stack.sidebar .content {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.gtk.stack.sidebar .sidebar {
  border-right: 1px solid #969a96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gtk.stack.sidebar .sidebar .item {
  cursor: pointer;
  padding: 1em;
}

.gtk.stack.sidebar .sidebar .item:not(:last-of-type) {
  border-bottom: 1px solid #969a96;
}

.gtk.stack.sidebar .sidebar .item.active {
  background-color: #4a90d9;
  color: #ffffff;
}

/* Colors */
/* Border */
/* Text */
/* Colors */
/* Border */
/* Text */
.gtk {
  color: #2e3436;
  font-family: "Bitstream Vera Sans", "Cantarell", monospace, "Sans", "Monospace", "Serif";
  font-size: 14px;
}

.subtitle {
  color: #8c8f90;
  font-size: 0.8em;
  font-weight: normal;
}

/* Colors */
/* Border */
/* Text */
a {
  color: #4a90d9;
}

.gtk.window {
  background-color: #ededed;
  border: 1px solid black;
  -webkit-box-shadow: 3px 3px 15px #969a96;
          box-shadow: 3px 3px 15px #969a96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gtk.window.has-header {
  border-color: #969a96;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/*# sourceMappingURL=gtk.css.map */