doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Cantarell:400,400i,700,700i')
        link(rel='stylesheet' href='../css/gtk.css')
        block head
    body
        block content
        block body