extends ../layouts/widget

block append head
    title Button

block body
    h1 Button
    .gtk.window.has-header(style='width: fit-content; height: initial;')
        .gtk.header.bar
            .title Button
        div(style='padding: 1em')
            button.gtk.button Click me!