extends ../layouts/widget

block append head
    title Button

block body
    h1 Button
    .gtk.window.has-header(style="background: white")
        .gtk.header.bar
            .title Button
        button.gtk.button