extends ../layouts/widget

block append head
    title Stack Sidebar
    style.
        .content {
            padding: 1em;
        }

block append body
    h1 Stack Sidebar
    .gtk.window.has-header(style='height: initial;')
        .gtk.header.bar
            .title Terms of Service
        .gtk.stack.sidebar(style='height: 100%')
            .sidebar
                .active.item Page 1
                .item Page 2
                .item Page 3
                .item Page 4
            .content.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.