extends ../layouts/widget

block append head
    title Window

block content
    h1 Window
    pre
        code.xml
            = '<div class="gtk window" style="width: 600px; height: 400px;"></div>'
    br
    .gtk.window