@import "../utilities/_all"

.gtk.button:not(.radio)
  background: linear-gradient($lightGrey, $grey)
  border: 1px solid $light-border-color
  border-radius: $border-radius
  cursor: pointer
  padding: 8px

  &:active,&:focus
    background: #c7d1db
    border-color: $focus-color

  &:focus
    outline: none

  &:hover:not(:focus)
    background: $white
    border-color: $border-color