@import "../utilities/_all"

.gtk.header.bar
  background: linear-gradient($lightGrey, $grey)
  border-bottom: 1px solid $border-color
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  display: flex
  flex-direction: row
  height: 40px
  padding: 0 1em
  text-align: center

  .title
    color: $title-color
    display: flex
    flex-direction: column
    flex-grow: 1
    font-weight: bold
    justify-content: center
    user-select: none