extends layouts/master
block content
    .gtk.window.has-header
        .gtk.header.bar
            .title GTK.css Examples
        ul
            li
                a(href='widgets/button.html') Button
            li
                a(href='widgets/header_bar.html') Header Bar
            li
                a(href='widgets/window.html') Window