extends layouts/master

block append head
    style.
        li {
            list-style-type: none;
            margin-bottom: 1em;
        }

block content
    .gtk.window.has-header
        .gtk.header.bar
            .title GTK.css Examples
        ul
            li
                a(href='widgets/button.html') Button
            li
                a(href='widgets/entry.html') Entry
            li
                a(href='widgets/header_bar.html') Header Bar
            li
                a(href='widgets/radio_button.html') Radio Button
            li
                a(href='widgets/window.html') Window